<form class='w-full max-w-lg ml-20 mt-10' method='POST' action='/productos'>
	<div class='flex flex-wrap mb-6'>
		<div class='w-full md:w-full px-3 mb-6 md:mb-0'>
			<label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>
				Nombre
			</label>
			<input class='appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' id='grid-first-name' type='text' placeholder='Antena' name='title' />
		</div>
	</div>
	<div class='flex flex-wrap mb-6'>
		<div class='w-full md:w-1/4 px-3 mb-6 md:mb-0'>
			<label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>
				Precio
			</label>
			<input class='appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' id='grid-first-name' type='text' placeholder='$' name='price' />
		</div>
	</div>
	<div class='flex flex-wrap mb-6'>
		<div class='w-full md:w-full px-3 mb-6 md:mb-0'>
			<label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>
				URL de la imagen
			</label>
			<input class='appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500' id='grid-first-name' type='text' placeholder='https://' name='thumbnail' />
		</div>
	</div>
	<div class='flex justify-end'>
		<button class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' type='submit'>
			Subir producto
		</button>
	</div>
</form>