{{#if productsExist}}
	<section class='bg-gray-100 py-10 px-12'>
		<!-- Card Grid -->
		<div class='grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4'>

			<!-- Card Item -->
			{{#each products}}
				<div class='my-8 rounded shadow-lg shadow-gray-200 dark:shadow-gray-900 bg-white duration-300 hover:-translate-y-1' x-for='(post, index) in posts'>
					<!-- Clickable Area -->
					<figure>
						<!-- Image -->
						<img src='{{this.thumbnail}}' class='rounded-t h-72 w-full object-contain' />

						<figcaption class='p-4 bg-gray-800'>
							<!-- Title -->
							<p class='text-lg mb-4 font-bold leading-relaxed text-gray-800 dark:text-gray-300' x-text='post.title'>
								{{this.title}}
								<!-- Post Title -->
							</p>

							<p class='text-lg mb-4 font-bold leading-relaxed text-gray-800 dark:text-gray-300' x-text='post.title'>
								${{this.price}}
								<!-- Post Title -->
							</p>

							<!-- Description -->
							<small class='leading-5 text-gray-500 dark:text-gray-400' x-text='post.description'>
								<!-- Post Description -->
							</small>
						</figcaption>
					</figure>
				</div>
			{{/each}}
		</div>
	</section>
{{else}}
	<h2 class='text-xl font-bold leading-relaxed text-dark-800-lg ml-10 flex justify-center mt-10'>No hay productos disponibles</h2>
	<p class='text-lg mb-4 font-bold leading-relaxed text-gray-800 mt-20 flex justify-center'>Haga <a class='pl-2 pr-2 text-blue-700' href='/formulario'> click aquí </a> para cargar productos</p>
{{/if}}