<ul class='flex p-4 mb-5'>
	<li class='mr-3'>
		<a class='inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-5' href='/productos'>Productos</a>
		<a class='inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-5' href='/formulario'>Formulario</a>
	</li>
</ul>